{% load static tailwind_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}
        ChaiaurDjango
        {% endblock %}</title> <!-- chaiaurDjango is default title -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% tailwind_css %}
</head>
<body>
    <nav> This is our navbar</nav>
    {% block content %} # This is the block where the content will be rendered
    {% endblock %}
    
</body>
</html>